/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/querysra -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  sradb = 'https://github.com/zhujack/SRAdb/raw/master/inst/extdata/SRAmetadb_demo.sqlite'
  preselection = 'https://github.com/steffenlem/querysra/raw/dev/test/test_preselection.txt'
  classes_keywords = 'https://github.com/steffenlem/querysra/raw/dev/test/test_classes_keywords.json'
  blacklist = 'https://github.com/steffenlem/querysra/raw/dev/test/test_blacklist.txt'
  taxon_id = '9606'
  library_strategy = 'RNA-Seq'
}
